/*
/*/
!/.gitignore
!/.gitattributes

!/.restore-permissions
!/coc-settings.json
!/custom.vim.example
!/ginit.vim
!/init.lua
!/init.vim
!/platform.vim.example
!/TODO.txt

!/autoload/
!/colors/
!/lua/
!/pack/
!/spell/
